# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.py
*.autosave
*.vcxproj
*.filters
*.user
*.cmake
*.sln

.vscode
build-Touring_simulator-Desktop_Qt_5_12_3_MSVC2017_64bit-Debug
build-Touring_simulator-Desktop_Qt_5_12_3_MSVC2017_64bit-Release
src/Touring_simulator.pro.user.c19e98d.4.8-pre1
src/Touring_simulator.pro.user
test/main_test
test/traveller_load_test
test/traveller_save_test
test/.vs
test/CMakeFiles
test/Debug
test/Release
test/Touring_Simulaor.dir
test/x64
test/CMakeCache.txt
test/cmake builds
*.diagsession
data/namelist.txt
data/traveller_data.txt
test/CMakeLists.txt
test/in.txt
