# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
test/time_format_test
.vscode/settings.json
data/flight_ex.py
test/city_graph_test
test/id_map_test
data/time_fix.py
test/get_path_LM
test/path_test
.vscode/launch.json

.vscode/ipch/4c3ca03175e49768/mmap_address.bin
*.bin
*.ipch
