# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

test/time_format_test
.vscode/settings.json
data/flight_ex.py
test/city_graph_test
test/id_map_test
data/time_fix.py
test/get_path_LM
test/path_test
.vscode/launch.json
.vscode/ipch/4c3ca03175e49768/mmap_address.bin
*.bin
test/main_test
.vscode/ipch/9672b7358841a22a/MAIN_TEST.ipch
*.ipch
test/traveller_test
test/get_path_LTM
test/traveller_load_test
test/traveller_save_test
test/traveller_test
test/slp.cc
test/slp
src/Touring_simulator.pro.user.c19e98d.4.8-pre1
build-Touring_simulator-Desktop_Qt_5_12_3_MSVC2017_64bit-Debug/*
src\Touring_simulator.pro.user